{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %} <!-- проброс заголовка -->
{% block content %}

<!-- ВСТАВКА ПЕРЕМЕННЫХ -->
<h1>{{ header }}</h1>
<p>{{ text }}</p>
<hr>

<!-- ПРИМЕР ОБРАБОТКИ СПИСКОВ: -->
<h2>Обход списков</h2>
<p>{{ languages_list.0 }}</p> <!-- Напрямую к элементам списка стоит обращаться через точечную нотацию -->
<ul>
    {% for lang in languages_list %}
    <li>{{ lang }}</li>
    {% endfor %}
</ul>
<hr>

<!-- РАБОТА СО СЛОВАРЯМИ ЧЕРЕЗ ITEMS: -->
<h2>Обход словарей</h2>
<p>Пользователь: {{ user.name }}</p> <!-- Обращение к словарю на прямую выполняется как у классов через точечную нотацию -->
<ul>
    {% for key,val in user.items() %} <!-- Словарь обходится через items() то есть по ключам и значениям -->
    <li>{{ key }} : {{ val }}</li>
    {% endfor %}
</ul>
<hr>
{% endblock content %}