{% extends 'base.html' %}

{% block content %}

    <h2>Использование with для создания отдельной области видимости</h2>
    <p>with нужен, чтобы не захламлять весь код кучей переменных. Бывает например когда переменная участвует в одном фрагменте кода. with позволяет её изолировать в нем.</p>
    {% set price = 1000 %}<!-- это глобальная переменная, она будет жить все время -->
    {% set count = 3 %} <!-- это глобальная переменная, она будет жить все время -->
    {% with %}
        {% set total = price * count %} <!-- а это локальная изолированная переменная, она живет только в этом блоке with -->
        <p><span>{{ total }}</span></p>
    {% endwith %}
    <!-- Как видно ниже переменная total прекратила свое существование, после блока endwith -->
    <p>{{ "переменная total есть" if total is defined else "переменная total не объявлена" }}</p>
    <p>{{ "переменная price есть" if price is defined else "переменная price не объявлена" }}</p>
    <p>{{ "переменная count есть" if count is defined else "переменная count не объявлена" }}</p>

    <h2>Также в with можно объявлять переменные прямо в самом блоке</h2>
    {% with total = price * count, abc = "123" %} <!-- Альтернативный способ определения переменных в with -->
        <p><span>{{ total }}</span></p>
        <p><span>{{ abc }}</span></p>
    {% endwith %}
{% endblock content %}