{% extends 'base.html' %}

{% block content %}
<h2>Пользовательские фильтры</h2>
<p>Длина строки "test": {{ "test" | str_len }}</p>

<h2>Фильтр сортировка</h2>
<p>Фильтр отберет только четные числа из массива от 0 до 4</p>
<ul>
{% for i in range(5) %} <!-- цикл по диапазону от 0 до 4 -->
{% if i | is_even_num %} <!-- Использование фильтра is_even_num определенного на сервере -->
    <li>{{ i }}</li>
{% endif %}
{% endfor %}
</ul>

<p class="notes">Функции и фильтры не должны быть слишком затратны по вычислениям, чтобы не затормаживать рендеринг страницы.</p>
<hr>
<h2>Встроенные в jinja2 фильтры</h2>
    <p>{{ "    test   " | trim }} <span>trim - убирает лишние пробелы из строки слева и справа</span></p> <!-- убирает лишние пробелы из строки слева и справа -->
    <p>{{ "привет" | replace("привет","пока") }} <span>replace(old, new) - заменяет фразу old на new</span></p>
    <p>{{ "михаил" | capitalize }} <span>capitalize - первые буквы в верхний регистр</span></p>
    <p>{{ "иванов иван иванович" | title }} <span>title - преобразовывает строку к виду где каждое слово начинается с заглавной буквы</span></p>
    <p>{{ variable | default("unknow") }} <span>default(val) - значение по умолчанию для переменной которая не определена</span></p>
    <p>{{ "<h1>Заголовок</h1>" | striptags }} <span>striptags - убрать html теги из строки</span></p>
    <p>safe - включение тегов из строки</p>
    <p>{{ "<strong>text</strong>" | safe }} <span>safe - позволяет рендерить html, по умолчанию html экранирует строки, то есть не отображает теги</span></p>
    <p>{{ "<strong>text</strong>"}} <span>текст который выведется с отключенным safe</span></p>
    <p class="notes">Важно! Параметр safe стоит использовать только с проверенным на 100% html кодом, в противном случае возможны xss атаки 
        (когда на сайт попадает вредоносный код), поэтому safe стоит использовать очень осторожно
    </p>
    <p class="notes">Встроенные фильтры позволяют упрощать серверный код, выполняя дополнительную обработку на сервере</p>
{% endblock content %}