{% extends 'base.html' %}
{% block title %}макросы в jinja2{% endblock title %}

{% block content %}
<!-- в макросе параметры могут также быть предустановлены по умолчанию -->
{% macro greater(name, prefix="Привет, ") %}
    <p>{{ prefix }} {{ name }}!</p>
{% endmacro %}

<!-- Макрос для обхода массива -->
{% macro show_arr(arr) %}
    {% if arr %}
        {% for i in arr %}
            <li>{{ i }}</li>
        {% endfor %}
    {% else %}
        <li>Список пуст</li>
    {% endif %}
{% endmacro %}

<h2>Простой пользовательский макрос</h2>
{{ greater(name="Василий", prefix="Добро пожаловать на сайт,") }} <!-- вызов пользовательской функции -->

<h2>Пользовательский макрос с обходом коллекции</h2>
<p>Макрос, пользовательская функция, которая даёт возможности её переиспользования, и изоляции логики.</p>

{% set array = [1,2,3,4,5] %} <!-- создание переменной с массивом -->
<p>Исходный массив {{ array }}</p>
<ul>
{{ show_arr(array) }} <!-- вызов пользовательской функции -->
</ul>

{% endblock content %}